pkgbase = linux-lts-61
	pkgdesc = LTS Linux 6.1.x
	pkgver = 6.1.89
	pkgrel = 1
	url = https://www.kernel.org
	arch = x86_64
	license = GPL2
	makedepends = bc
	makedepends = cpio
	makedepends = gettext
	makedepends = libelf
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = tar
	makedepends = xz
	makedepends = graphviz
	makedepends = imagemagick
	makedepends = python-sphinx
	makedepends = texlive-latexextra
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.1.89.tar.xz
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.1.89.tar.sign
	source = 0001-ZEN-Add-sysctl-and-CONFIG-to-disallow-unprivileged-C.patch
	source = config
	source = docutils.patch
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	sha256sums = 12bab8e092618d1d4eeaf4201e6e70054c94896198956bd84ff0e908b0264719
	sha256sums = SKIP
	sha256sums = 21195509fded29d0256abfce947b5a8ce336d0d3e192f3f8ea90bde9dd95a889
	sha256sums = e6d93b422514884a33367fbdd32aa50359c8b099a75caaf3e6dfa440e04b3de0
	sha256sums = 9cb73cacbb3633f207d0c30e738cae9965adcd0b0eb5ecd60563fed1394c0f38
	b2sums = 5b37ef931dee4ae271c2b1b2818cfa0fb19a1efd231e5a75fdd4ac67f474a21dd4e7f4f7324696ec2b0f9ce3b6c6d36325c5a53807834abdb8baae5f8ce6711b
	b2sums = SKIP
	b2sums = 02a10396c92ab93124139fc3e37b1d4d8654227556d0d11486390da35dfc401ff5784ad86d0d2aa7eacac12bc451aa2ff138749748c7e24deadd040d5404734c
	b2sums = 57f7ad5bcb1917dc89dac61e81ce7f0a1497b3cfa749a6da32090e54e8c6054a7b35012f9dbf84a3ab3d4a1fe3748ec3811640183f8ac87dd39b27db8ae8e8d3
	b2sums = 0bb42a22c110f06a45e59a9adc194184a51ff97e5584d6ffabca0aa37e1e65ccaf44f43dc744eaa3861d6f6b00e299d4662bcf0c0d94478af9352b4c4f6b0ffd

pkgname = linux-lts-61
	pkgdesc = The LTS Linux 6.1.x kernel and modules
	depends = coreutils
	depends = initramfs
	depends = kmod
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	provides = KSMBD-MODULE
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	replaces = wireguard-lts

pkgname = linux-lts-61-headers
	pkgdesc = Headers and scripts for building modules for the LTS Linux 6.1.x kernel
	depends = pahole

pkgname = linux-lts-61-docs
	pkgdesc = Documentation for the LTS Linux 6.1.x kernel
