pkgbase = linux-lts-61
	pkgdesc = LTS Linux 6.1.x
	pkgver = 6.1.83
	pkgrel = 1
	url = https://www.kernel.org
	arch = x86_64
	license = GPL2
	makedepends = bc
	makedepends = cpio
	makedepends = gettext
	makedepends = libelf
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = tar
	makedepends = xz
	makedepends = graphviz
	makedepends = imagemagick
	makedepends = python-sphinx
	makedepends = texlive-latexextra
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.1.83.tar.xz
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.1.83.tar.sign
	source = 0001-ZEN-Add-sysctl-and-CONFIG-to-disallow-unprivileged-C.patch
	source = config
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	sha256sums = 88b69611093613ce4494527685f833af0c31b986dcbeda7086f69f18f9e0b190
	sha256sums = SKIP
	sha256sums = 21195509fded29d0256abfce947b5a8ce336d0d3e192f3f8ea90bde9dd95a889
	sha256sums = 382acbfe8ce053ddfeb83d57f88cc45977b21ef2f0f14b8cf641ad8d636807c4
	b2sums = 686f9eaa4ce74dad2e47aeda1eba7775d3f5caa86cfc678c11089350ffabdea743644fa51b0628ecb779cf2b67258468408953d7636a739ba0cd2e0c5bb5e8e1
	b2sums = SKIP
	b2sums = 02a10396c92ab93124139fc3e37b1d4d8654227556d0d11486390da35dfc401ff5784ad86d0d2aa7eacac12bc451aa2ff138749748c7e24deadd040d5404734c
	b2sums = 932653517a99ce02590bbd4e8fa94139c65daa1eb0b0e1e56013dd49fcb9b06ee762b00edb4bb95c31b0b6d11a15f8365ae7ae75554cba72bc8b5325298b7678

pkgname = linux-lts-61
	pkgdesc = The LTS Linux 6.1.x kernel and modules
	depends = coreutils
	depends = initramfs
	depends = kmod
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	provides = KSMBD-MODULE
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	replaces = wireguard-lts

pkgname = linux-lts-61-headers
	pkgdesc = Headers and scripts for building modules for the LTS Linux 6.1.x kernel
	depends = pahole

pkgname = linux-lts-61-docs
	pkgdesc = Documentation for the LTS Linux 6.1.x kernel
