pkgbase = linux-lts-61
	pkgdesc = LTS Linux 6.1.x
	pkgver = 6.1.84
	pkgrel = 1
	url = https://www.kernel.org
	arch = x86_64
	license = GPL2
	makedepends = bc
	makedepends = cpio
	makedepends = gettext
	makedepends = libelf
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = tar
	makedepends = xz
	makedepends = graphviz
	makedepends = imagemagick
	makedepends = python-sphinx
	makedepends = texlive-latexextra
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.1.84.tar.xz
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.1.84.tar.sign
	source = 0001-ZEN-Add-sysctl-and-CONFIG-to-disallow-unprivileged-C.patch
	source = config
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	sha256sums = af97d2ebe14765d0db3af6560309daf08535da25bfad36e5fb3e436f22a1707a
	sha256sums = SKIP
	sha256sums = 21195509fded29d0256abfce947b5a8ce336d0d3e192f3f8ea90bde9dd95a889
	sha256sums = 2e6e0438887ce31a7252f83dc03a929e897227bb6579061e5cd02241ddc82082
	b2sums = 50fd2700fe6bf02dd99ddc0b8963d35d8dae43fa6f7e9226e69e2094317a7383a0bcccc20faf7b22a6736204348023a8f53c06b1b1dfaa6637446962ec36367c
	b2sums = SKIP
	b2sums = 02a10396c92ab93124139fc3e37b1d4d8654227556d0d11486390da35dfc401ff5784ad86d0d2aa7eacac12bc451aa2ff138749748c7e24deadd040d5404734c
	b2sums = d79a46a1b0b31b0d49db6957d4354ae9d41baa0aba3b051c813ac318ba4a8d33070f82dda101f8b9679f44b205cbeb91d9125b501f1bc3359f2811fc58137f6a

pkgname = linux-lts-61
	pkgdesc = The LTS Linux 6.1.x kernel and modules
	depends = coreutils
	depends = initramfs
	depends = kmod
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	provides = KSMBD-MODULE
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	replaces = wireguard-lts

pkgname = linux-lts-61-headers
	pkgdesc = Headers and scripts for building modules for the LTS Linux 6.1.x kernel
	depends = pahole

pkgname = linux-lts-61-docs
	pkgdesc = Documentation for the LTS Linux 6.1.x kernel
