pkgbase = nginx-mainline-boringssl
	pkgdesc = Lightweight HTTP server and IMAP/POP3 proxy server, mainline release
	pkgver = 1.19.10
	pkgrel = 2
	url = https://nginx.org
	install = nginx.install
	arch = i686
	arch = x86_64
	license = custom
	makedepends = cmake
	makedepends = git
	makedepends = go
	depends = pcre
	depends = zlib
	depends = geoip
	depends = mailcap
	depends = luajit
	provides = nginx
	provides = nginx-mainline
	conflicts = nginx
	conflicts = nginx-mainline
	backup = etc/nginx/fastcgi.conf
	backup = etc/nginx/fastcgi_params
	backup = etc/nginx/koi-win
	backup = etc/nginx/koi-utf
	backup = etc/nginx/nginx.conf
	backup = etc/nginx/scgi_params
	backup = etc/nginx/uwsgi_params
	backup = etc/nginx/win-utf
	backup = etc/logrotate.d/nginx
	source = https://nginx.org/download/nginx-1.19.10.tar.gz
	source = https://nginx.org/download/nginx-1.19.10.tar.gz.asc
	source = https://github.com/vision5/ngx_devel_kit/archive/v0.3.1/ngx_devel_kit-0.3.1.tar.gz
	source = https://github.com/openresty/lua-nginx-module/archive/v0.10.19/lua-0.10.19.tar.gz
	source = git+https://boringssl.googlesource.com/boringssl#branch=chromium-stable
	source = git+https://github.com/openresty/headers-more-nginx-module.git
	source = git+https://github.com/google/ngx_brotli.git
	source = service
	source = logrotate
	source = nginx_dynamic_tls_records_and_http2_hpack.patch
	source = BoringSSL-enable-AES_CBC.patch
	source = BoringSSL-enable-OCSP.patch
	validpgpkeys = B0F4253373F8F6F510D42178520A9993A1C052F8
	sha256sums = e8d0290ff561986ad7cd6c33307e12e11b137186c4403a6a5ccdb4914c082d88
	sha256sums = SKIP
	sha256sums = 0e971105e210d272a497567fa2e2c256f4e39b845a5ba80d373e26ba1abfbd85
	sha256sums = 242d60b97eb7459cd0c0d58083cf7f3195d46181829da45ab8b09a857bb0ed01
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = 05fdc0c0483410944b988d7f4beabb00bec4a44a41bd13ebc9b78585da7d3f9b
	sha256sums = b9af19a75bbeb1434bba66dd1a11295057b387a2cbff4ddf46253133909c311e
	sha256sums = 8bd1a56d29140c50dc9ea147ec91347e56bc66e0263ca4c212be3e823e9fe962
	sha256sums = 0ba83e5fb4717876006edacc6a9c3a642035fffd2d758ae048c0cfc91958d228
	sha256sums = eb9fdfc7701cbee297971cfbf6ee2bc602aa6ce56cdcc5cd29dfda2dcb203e88

pkgname = nginx-mainline-boringssl

