pkgbase = nginx-mainline-boringssl
	pkgdesc = Lightweight HTTP server and IMAP/POP3 proxy server, mainline release
	pkgver = 1.19.1
	pkgrel = 1
	url = https://nginx.org
	install = nginx.install
	arch = i686
	arch = x86_64
	license = custom
	makedepends = cmake
	makedepends = git
	makedepends = go
	makedepends = rust
	depends = pcre
	depends = zlib
	depends = geoip
	depends = mailcap
	provides = nginx
	provides = nginx-mainline
	conflicts = nginx
	conflicts = nginx-mainline
	backup = etc/nginx/fastcgi.conf
	backup = etc/nginx/fastcgi_params
	backup = etc/nginx/koi-win
	backup = etc/nginx/koi-utf
	backup = etc/nginx/nginx.conf
	backup = etc/nginx/scgi_params
	backup = etc/nginx/uwsgi_params
	backup = etc/nginx/win-utf
	backup = etc/logrotate.d/nginx
	source = https://nginx.org/download/nginx-1.19.1.tar.gz
	source = https://nginx.org/download/nginx-1.19.1.tar.gz.asc
	source = git+https://github.com/cloudflare/quiche.git
	source = git+https://github.com/openresty/headers-more-nginx-module.git
	source = git+https://github.com/google/ngx_brotli.git
	source = service
	source = logrotate
	source = nginx_dynamic_tls_records_and_http2_hpack.patch
	source = BoringSSL-enable-AES_CBC.patch
	source = BoringSSL-enable-OCSP.patch
	validpgpkeys = B0F4253373F8F6F510D42178520A9993A1C052F8
	sha256sums = a004776c64ed3c5c7bc9b6116ba99efab3265e6b81d49a57ca4471ff90655492
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = 05fdc0c0483410944b988d7f4beabb00bec4a44a41bd13ebc9b78585da7d3f9b
	sha256sums = b9af19a75bbeb1434bba66dd1a11295057b387a2cbff4ddf46253133909c311e
	sha256sums = 8e73bad4e42d1278a6e89f811b96bc1963389ae97ed855697382e31c15c3e2d7
	sha256sums = d4fa1203a9b8d08e0675bb455cc11e01f9ff72f676b173f83cd85c83aa36ed18
	sha256sums = eb9fdfc7701cbee297971cfbf6ee2bc602aa6ce56cdcc5cd29dfda2dcb203e88

pkgname = nginx-mainline-boringssl

