pkgbase = tree-sitter-mainline-markdown
	pkgdesc = Markdown grammar for tree-sitter
	pkgver = 0.5.1
	pkgrel = 1
	url = https://github.com/tree-sitter-grammars/tree-sitter-markdown
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = cmake
	makedepends = git
	makedepends = tree-sitter-mainline-cli
	provides = libtree-sitter-markdown.so
	provides = libtree-sitter-markdown-inline.so
	conflicts = tree-sitter-markdown
	optdepends = tree-sitter-mainline: core library
	source = git+https://github.com/tree-sitter-grammars/tree-sitter-markdown.git#commit=v0.5.1
	b2sums = e72cefd58567a1e76356cceaa2f670286dd1f8eab8df79a58ab885d8dc813b61dde55413b1d1bc6bdfb33e1b98e32014d4e33dd7b47d6c5f494950195a4ddb23

pkgname = tree-sitter-mainline-markdown
