pkgbase = tree-sitter-mainline-query
	pkgdesc = TS query grammar for tree-sitter
	pkgver = 0.7.0
	pkgrel = 1
	url = https://github.com/tree-sitter-grammars/tree-sitter-query
	arch = x86_64
	arch = aarch64
	license = Apache-2.0
	makedepends = git
	makedepends = tree-sitter-mainline-cli
	provides = libtree-sitter-query.so
	conflicts = tree-sitter-query
	optdepends = tree-sitter-mainline: core library
	source = git+https://github.com/tree-sitter-grammars/tree-sitter-query.git#tag=v0.7.0
	b2sums = 7a3251623d2470d0040cabcc63f3913bb881bcce8b1cba96543030bfb1f22ee2501da4d8a4855106b2830c56a535c56a4b9e8d1e2632d70833672ea1f973f857

pkgname = tree-sitter-mainline-query
