dist:
  name: otelcol
  description: Local OpenTelemetry Collector binary
  version: 0.141.0-dev
  output_path: dist

receivers:
  - gomod: go.opentelemetry.io/collector/receiver/nopreceiver v0.141.0
  - gomod: go.opentelemetry.io/collector/receiver/otlpreceiver v0.141.0

exporters:
  - gomod: go.opentelemetry.io/collector/exporter/debugexporter v0.141.0
  - gomod: go.opentelemetry.io/collector/exporter/nopexporter v0.141.0
  - gomod: go.opentelemetry.io/collector/exporter/otlpexporter v0.141.0
  - gomod: go.opentelemetry.io/collector/exporter/otlphttpexporter v0.141.0
  - gomod: github.com/open-telemetry/opentelemetry-collector-contrib/exporter/prometheusexporter v0.141.0

extensions:
  - gomod: go.opentelemetry.io/collector/extension/memorylimiterextension v0.141.0
  - gomod: go.opentelemetry.io/collector/extension/zpagesextension v0.141.0

processors:
  - gomod: go.opentelemetry.io/collector/processor/batchprocessor v0.141.0
  - gomod: go.opentelemetry.io/collector/processor/memorylimiterprocessor v0.141.0

connectors:
  - gomod: go.opentelemetry.io/collector/connector/forwardconnector v0.141.0
  - gomod: github.com/open-telemetry/opentelemetry-collector-contrib/connector/spanmetricsconnector v0.141.0

providers:
  - gomod: go.opentelemetry.io/collector/confmap/provider/envprovider v1.47.0
  - gomod: go.opentelemetry.io/collector/confmap/provider/fileprovider v1.47.0
  - gomod: go.opentelemetry.io/collector/confmap/provider/httpprovider v1.47.0
  - gomod: go.opentelemetry.io/collector/confmap/provider/httpsprovider v1.47.0
  - gomod: go.opentelemetry.io/collector/confmap/provider/yamlprovider v1.47.0
