pkgbase = nginx-mainline-mod-headers-more
	pkgdesc = Set and clear input and output headers (module for mainline nginx)
	pkgver = 0.35
	pkgrel = 1
	url = https://github.com/openresty/headers-more-nginx-module
	arch = x86_64
	license = BSD
	makedepends = nginx-mainline-src
	depends = nginx-mainline
	source = https://github.com/openresty/headers-more-nginx-module/archive/v0.35/headers-more-0.35.tar.gz
	sha256sums = 1a216be253bbd5bf751d572ac2f93bdb61fbc2d78078d26c1335f4637cf2360a

pkgname = nginx-mainline-mod-headers-more
