pkgbase = mackerel-agent
	pkgdesc = A revolutionary new kind of application performance management
	pkgver = 0.85.1
	pkgrel = 1
	url = https://github.com/mackerelio/mackerel-agent
	arch = x86_64
	arch = aarch64
	license = Apache
	makedepends = go-pie
	depends = glibc
	conflicts = mackerel-agent-git
	backup = etc/mackerel-agent/mackerel-agent.conf
	source = https://github.com/mackerelio/mackerel-agent/archive/v0.85.1.tar.gz
	sha256sums = db7068ad58e0e1872d97d8166580b240981e1ad685e8c7031e5ebd329b33e5a4

pkgname = mackerel-agent
