pkgbase = mackerel-agent
	pkgdesc = A revolutionary new kind of application performance management
	pkgver = 0.85.3
	pkgrel = 1
	url = https://github.com/mackerelio/mackerel-agent
	arch = x86_64
	arch = aarch64
	license = Apache
	makedepends = go-pie
	depends = glibc
	conflicts = mackerel-agent-git
	backup = etc/mackerel-agent/mackerel-agent.conf
	source = https://github.com/mackerelio/mackerel-agent/archive/v0.85.3.tar.gz
	sha256sums = fe03678e593b25abd8027b8758bbed7fa80367eabe198fb5d3c4d9f839911829

pkgname = mackerel-agent
