pkgbase = mackerel-agent
	pkgdesc = A revolutionary new kind of application performance management
	pkgver = 0.87.0
	pkgrel = 1
	url = https://github.com/mackerelio/mackerel-agent
	arch = x86_64
	arch = aarch64
	license = Apache
	makedepends = go-pie
	depends = glibc
	conflicts = mackerel-agent-git
	backup = etc/mackerel-agent/mackerel-agent.conf
	source = https://github.com/mackerelio/mackerel-agent/archive/v0.87.0.tar.gz
	sha256sums = 3c64855d5b2ab16bf1db4f394f8d6a09beaea21b64580042e11d48ac2b420c5f

pkgname = mackerel-agent
